.img-inicio {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

}


/*SweetAlert2*/
.swal2-title {
    font-size: 16px;
}

.swal2-question {
    width: 50px !important;
    height: 50px !important;
}

.swal2-styled {
    padding: 6px;
}
.swal2-cancel {
    background-color: #b91c1c;
}
.swal2-confirm  {
    background-color: #1d4ed8;
}

.swal2-confirm:hover  {
    background-color: #2563eb;
}

/*transition*/
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}


/*Datapicker next*/
.mx-datepicker {
    width: 100% !important;
}

.mx-datepicker-range {
    width: 100% !important;
}

.mx-input {
    height: 36px !important;
    font-size: 1rem !important;
    color: #3f3f46 !important;
}
.mx-input:disabled {
   background-color: white !important;
}
