.img-inicio {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

}


/*SweetAlert2*/
.swal2-title {
    font-size: 16px;
}

.swal2-question {
    width: 50px;
    height: 50px;
}

.swal2-styled {
    padding: 6px;
}

/*transition*/
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}


/*Datapicker next*/
.mx-datepicker {
    width: 100% !important;
}

.mx-datepicker-range {
    width: 100% !important;
}

.mx-input {
    height: 36px !important;
    font-size: 1rem !important;
    color: #3f3f46 !important;
}
.mx-input:disabled {
   background-color: white !important;
}
