.img-inicio {
    background-image: url("/public/back.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

}


/*SweetAlert2*/
.swal2-title{
    font-size: 16px;
}
.swal2-question{
    width: 50px;
    height: 50px;
}
.swal2-styled {
    padding: 6px;
}

/*transition*/
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

